.Container {
    padding: 1.5rem;
}

.Details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
    .Details > div {
        flex: 0.65;
        height: 425px;
    }
    .Details > div + div {
        flex: 0.35;
        margin-left: 1.5rem;
    }
    .Details p {
        text-align: justify;
    }

.Desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}