.Header {
    display: flex;
    height: 68px;
    background-color: lightslategray;
}
    .Header > div {
        width: 100%;
    }
    .Header span {
        font-weight: 800;
        font-size: 1.5rem;
        color: lightsteelblue;
    }
    .Header span + span {
        font-weight: 100;
        color: lightblue;
    }
    .Header span:last-child {
        display: flex;
        align-items: center;
    }