.Container {
    display: flex;
    align-items: center;
}
    .Container > span {
        margin-right: 0.5em;
        font-weight: 100 !important;
        color: lightblue !important;
    }

.Select {
    display: flex;
    align-items: center;
    width: 100px;
}
    .Select span {
        font-weight: 600;
        font-size: 1em !important;
        color: lightsteelblue !important;
    }